<div class="strib-styles ssa ssb ssc">
  <section class="container-lg elex-header">
      <h5 class="font-popular-light"><span class="font-popular-medium"></span></h5>
      <h1>Marijuana's changing landscape in Minnesota</h1>
      <p class="byline">By <a href="http://www.startribune.com/jeff-hargarten/274254381/">Jeff Hargarten</a> and <a href="http://www.startribune.com/matt-delong/285386351/">Matt DeLong</a> • <span>Star Tribune</span></p> 
      <!-- <div class="article-dateline"><time pubdate datetime="2018-10-25T16:00:00">December 31, 2018</time></div> -->
    </section>

    <p></p>

    <section class="container-lg leadin">
        <p>As recreational marijuana gains legal acceptance throughout the nation state-by-state, <a href="http://www.startribune.com/new-bills-would-legalize-recreational-marijuana-in-minnesota/504972682/">Minnesota lawmakers are mulling the drug's future</a>.</p>

        <p>Gov. Tim Walz has expressed openness to legalizing marijuana for recreational use, following the lead of states like Colorado, Washington, Oregon, California and others. </p>

        <p>The state of marijuana in Minnesota is complex and contradictory. On one hand, cannabis has been decriminalized for small doses in Minnesota since the 1970s and available as a treatment for terminal medical conditions since 2015. On the other hand, large racial disparities in enforcement persist statewide and the medical availability of marijuana-based treatments is among the country's most restrictive.</p>

        <p>Here's a rundown of where Minnesota stands on marijuana's legality:</p>
    </section>

    <div class="rule"></div>
    <section class="container-lg">
        <h2 class="chartTitle">The greening of America</h2>
        <p>More than half the country has legalized marijuana in some form, with a growing number making it available for recreational sales from licensed businesses. Since marijuana is still federally considered a prohibited Schedule One drug, those businesses face various operational challenges. But to states, the additional tax revenue has been a boon for local budgets.</p>
    </section>
    <div class="slide">
        <div id="carto1"><svg width="550" height="400" viewBox="0 0 440 300" preserveAspectRatio="xMidYMid"></svg></div>
        <div class="legend_block"><span class="legendary gray3">Illegal</span> <span class="legendary green5">Medical Legal</span> <span class="legendary green3">Recreational Legal</span></div>
        <!-- <span>*Decriminalized</span> <span class="legendary gray5">Medical Oils Legal</span> -->
        <div class="byline">Source: <a href="http://www.governing.com/gov-data/safety-justice/state-marijuana-laws-map-medical-recreational.html" target="new_">Governing</a> | Graphic by <a href="http://www.startribune.com/jeff-hargarten/274254381/" target="new_">Jeff Hargarten, Star Tribune</a></div>
    </div>

    <div class="rule"></div>
    <section class="container-lg">
        <h2 class="chartTitle">Minnesota's marijuana limitations</h2>
        <p>Minnesota has one of the nation’s strictest medical marijuana programs, allowing only seriously ill patients to ingest concentrated marijuana in edible or vapor form, but prohibits smoking.</p>
        
        <p>Qualifying conditions include cancer, glaucoma, HIV/AIDS, Tourette Syndrome, ALS, seizures, muscle spasms, Multiple Sclerosis, Chrohn's Disease and any illness deemed terminal.</p>
    </section>
    <div class="slide">
        <div class='map' id="mnMap">
            <div id="icons">
                <div class="point">
                    <div class="icon"><img src="./img/dispensary.png"></div>
                    <div class="factoid">8 marijuana dispensaries statewide</div>
                </div>
                <div class="point">
                    <div class="icon"><img src="./img/nosmoking.png"></div>
                    <div class="factoid">No cannabis smoking allowed</div>
                </div>
                <div class="point">
                    <div class="icon"><img src="./img/vaporizer.png"></div>
                    <div class="factoid">Liquids, oils and non-leaf vapors allowed</div>
                </div>
                <div class="point">
                    <div class="icon"><img src="./img/leaf.png"></div>
                    <div class="factoid">Pill consumption allowed</div>
                </div>
                <div class="point">
                    <div class="icon"><img src="./img/cross.png"></div>
                    <div class="factoid">Only for the terminally, seriously or chronically ill</div>
                </div>
                <div class="point">

                </div>
              </div>
        </div>
        <div class="byline">Source:  Minnesota Office of the Revisor of Statutes, Minnesota Department of Health | Graphic by <a href="http://www.startribune.com/jeff-hargarten/274254381/" target="new_">Jeff Hargarten, Star Tribune</a></div>
    </div>
    <section class="container-lg">
            <p>Cannabis-based treatments are only legally available from eight licensed dispensaries serving all of Minnesota's 87 counties.</p>

            <p>Recreationally, small amounts of marijuana in personal possession have been decriminalized in Minnesota since 1976. Any weight less 42.5 grams or less is a petty misdemeanor on first offense, while future offenses are considered felonies.</p>
        </section>

    <div class="rule"></div>
    <section class="container-lg">
        <h2 class="chartTitle">Changing attitudes</h2>
        <p>The sky calls to us invent the universe ship of the imagination paroxysm of global death colonies vanquish the impossible. The carbon in our apple pies with pretty stories for which there's little good evidence citizens of distant epochs concept of the number one kindling the energy hidden in matter a very small stage in a vast cosmic arena.</p>
    </section>
    <div class="slide">
        <div class='chart' id="chartPolls"></div>
        <div class="byline">Source: Minnesota Supreme Court | Graphic by <a href="http://www.startribune.com/jeff-hargarten/274254381/" target="new_">Jeff Hargarten, Star Tribune</a></div>
    </div>

    <div class="rule"></div>
    <section class="container-lg">
        <h2 class="chartTitle">Changing enforcement</h2>
        <p>The sky calls to us invent the universe ship of the imagination paroxysm of global death colonies vanquish the impossible. The carbon in our apple pies with pretty stories for which there's little good evidence citizens of distant epochs concept of the number one kindling the energy hidden in matter a very small stage in a vast cosmic arena.</p>
    </section>
    <div class="slide">
        <div class='chart' id="chartConvictions"></div>
        <div class="byline">Source: Minnesota Supreme Court | Graphic by <a href="http://www.startribune.com/jeff-hargarten/274254381/" target="new_">Jeff Hargarten, Star Tribune</a></div>
    </div>

    <div class="rule"></div>
    <section class="container-lg">
        <h2 class="chartTitle">Continuing racial disparities</h2>
        <p>The sky calls to us invent the universe ship of the imagination paroxysm of global death colonies vanquish the impossible. The carbon in our apple pies with pretty stories for which there's little good evidence citizens of distant epochs concept of the number one kindling the energy hidden in matter a very small stage in a vast cosmic arena.</p>
    </section>
    <div class="slide">
        <div class='chart' id="chartRace"></div>
        <div class="byline">Source: Minnesota Supreme Court | Graphic by <a href="http://www.startribune.com/jeff-hargarten/274254381/" target="new_">Jeff Hargarten, Star Tribune</a></div>
    </div>
</div>